.desc-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.desc-container h1 {
    text-align: center;
    margin: 0 0 20px 0;
}

.description {
    overflow: hidden;
}

.description img {
    width: 20%;
    height: auto;
    float: left;
    margin-right: 20px;
}
